<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50699/DateServiceSite/Date.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDate"
                contract="IDate" name="BasicHttpBinding_IDate" />
        </client>
    </system.serviceModel>
</configuration>